* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  position: relative;
  width: 300px;
  height: 150px;
  background-color: #eee;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 10px;
}

.ball-1,
.ball-2,
.ball-3 {
  align-self: flex-end;
  width: 20px;
  height: 20px;
  background-color: rgb(161, 40, 191);
  border-radius: 20px;
  animation: bounce 2s forwards ease-in-out infinite;
}

.dot-2 {
  animation-delay: 3s;
}
.dot-3 {
  animation-delay: 0.75s;
}

@keyframes bounce {
  0% {
    transform: initial;
    background-color: rgb(161, 40, 191);
  }

  50% {
    background-color: turquoise;
    transform: translate(0, -40px);
  }

  100% {
    background-color: rgb(161, 40, 191);
  }
}
